[2011-11-03 15:25] key opened #1 "Can't parse FIT file when ride on in-door bike trainer"
Hi,

I rode bike on indoor trainer using Garmin Edge800.
python-fitparse can't parse this file.

Traceback (most recent call last):
  File "test.py", line 13, in <module>
    activity.parse()
  File "/Users/mitsukuni/tmp/python-fitparse/fitparse/activity.py", line 29, in parse
    return_value = super(Activity, self).parse(_args, *_kwargs)
  File "/Users/mitsukuni/tmp/python-fitparse/fitparse/base

[2011-11-04 14:44] #1 closed, assigned to nobody

[2012-01-15 15:42] Tigge opened #3 "Timestamps don't have timezone information"
I don't know if FIT-files keep timezone information or if one is implied somehow. If that is the case it would be nice to have timezone information in the datetime objects created by fitparse.

[2012-02-18 10:23] betatim opened #4 "compressed timestamps"
I think line 123 of base.py should be:

seconds_offset = header_data & 0b11111  # bits 0-4

currently it takes the last four instead of last five bits.

Tim

[2012-02-18 20:44] #4 closed, assigned to dtcooper

[2012-02-28 21:54] Tigge opened #5 "Feature request: read FIT data from a string instead of a file"
This could of course be solved by reading the data to a temporary file and then loading that, but that seems a bit unnecessary. I'd like this support this a bit more cleanly in my FIT to TCX script -- make it read from standard input and write to standard output.

[2012-02-28 22:15] #5 closed, assigned to nobody

[2012-08-21 08:50] biop opened #6 "time stamp calculation error with compressed header"
I am dowloading fit files from FR70 using garmin-forerunner-610-extractor.
I have found one issue concerning the time stamp. for hr data, records ares spaced by 5 seconds but I got variable steps using fitparse.

Looking at the specifications, I have found some mistakes and I am proposing the following solution:

[code]

in base.py,_parse_data_record

[code]

With these, I can recover my 5 seconds

[2012-08-31 17:54] sesse opened #7 "compressed_speed_distance handling is broken"
Hi,

compressed_speed_distance is pretty broken, at least on my FR70; the speed is decoded wrong, and the distance is not properly unwrapped. Please take a look at the included patch; it might not be perfect, but it seems to fix the problems okay enough for me.

[code]

[2013-02-12 17:28] aj8k opened #8 "Feature request: creating FIT file from any readable format (CSV, XML, JSON or any other)"
I can't use java converter tool from FIT dev pack because I have to use a little modified fit files. And I can't fix this issue because of lack java knowledge. If there is some possibility of creating such a tool on python?

[2014-12-10 11:44] petergardfjall opened #12 "add a setup.py file to master branch"
Until the ng branch has matured (it seems unstable at the moment, as I cannot parse my FIT files), I would like to use the master branch of the project (preferably using pip/distutils to install the module from github). I guess that the same, or a very similar, setup.py file that is used on the ng branch could be used, so the effort involved should be minimal.

[2015-01-05 13:27] petergardfjall commented on #12
David, have you gotten around to look at this?

[2015-01-05 14:01] dtcooper commented on #12
Not yet! Thanks for the reminder.

On Monday, 5 January 2015, Peter Gardfjäll <notifications@github.com> wrote:

[2015-03-24 08:42] key opened #15 "Python 2.7.6 doesn't have itertools.zip_longest"
Hi guys.

I try to install fitparse from pypi and got error.
Did I need future module?

[code]

[2015-03-24 08:51] key commented on #15
ah, is this fixed in ng HEAD?

[2016-07-12 02:51] lukeremy commented on #15
I have the same issue. Is there a fix in the current version?

[2016-09-13 13:52] pmatos opened #16 "Project status"
Is this project staled?

[2016-09-13 18:52] dtcooper commented on #16
Yes and no. There are forks that update the codebase to make it usable with
Python 3, but I haven't worked on it in a while. I do intend to make a new
release at some point, but no date specified as yet.

Thanks,

David

On Tuesday, 13 September 2016, Paulo Matos <notifications@github.com> wrote:

[2016-09-14 19:15] pmatos commented on #16
Thanks.

[2016-09-14 19:15] #16 closed

[2017-01-25 06:03] nall opened #19 "Generating fitparse/profile.py for FIT 2.0"
Hi,
I've added support for FIT 2.0 locally including supporting developer data fields, but am curious how to generate fitparse/profile.py. The file header says it's autogenerated.

Can you describe that process?

Thanks!

[2017-01-26 06:05] nall commented on #19
Closing this. I found the script under scripts

[2017-01-26 06:05] #19 closed

[2017-04-09 14:10] sanderroosendaal opened #21 "FitFile Parse error on Activity File with Developer data"
r = FitFile('C:/Downloads/1484672807-GIR.fit')

r.parse()

FitParseErrorTraceback (most recent call last)
<ipython-input-8-377150abc632> in <module>()
----> 1 r.parse()

C:\Users\e408191\AppData\Local\Continuum\Anaconda2\lib\site-packages\fitparse\base.pyc in parse(self)
    424
    425     def parse(self):
--> 426         while self._parse_message():
    427             pass
    428

C:\Users\e40

[2017-05-27 00:21] pR0Ps commented on #21
Fixed as of 1cc59e64fe76ec26c6a588037a6e9a0678af714a

[2017-05-27 00:21] #21 closed

[2017-05-27 00:21] pR0Ps commented on #15
Fixed as of 1cc59e64fe76ec26c6a588037a6e9a0678af714a

[2017-05-27 00:21] #15 closed

[2017-05-27 00:21] pR0Ps commented on #12
Fixed as of 1cc59e64fe76ec26c6a588037a6e9a0678af714a

[2017-05-27 00:21] #12 closed

[2017-05-29 15:32] pR0Ps commented on #6
Fixed as of 1cc59e64fe76ec26c6a588037a6e9a0678af714a

[2017-05-29 15:32] #6 closed

[2017-05-29 15:34] pR0Ps commented on #7
@sesse Should be fixed in the master branch now (as of 1cc59e64fe76ec26c6a588037a6e9a0678af714a) so I'm closing this issue. Can you confirm? If it isn't, please re-open and provide a sample FIT file to test against.

[2017-05-29 15:34] #7 closed

[2017-05-29 15:58] pR0Ps commented on #3
This is a hard problem because (as far as I can tell from reading the docs) there is no "device timezone" information supplied anywhere in the FIT file.

Decoding used to just assume the device was in the computer's local timezone. As of b43005d25fbdaf58fc2fc492835c95a5cf5f1109 this was changed to assuming UTC. Both are invalid assumptions but at least assuming UTC will give you consistency.

One

[2017-05-29 16:07] sesse commented on #7
You're about five years late for me to have any interest in this code anymore, sorry. :-)

[2017-06-19 15:45] haualan opened #26 "compressed / plugin framework HR data with event_timestamps not in datetime"
Thanks for this awesome library first of all!  I just have some questions on this file that I couldn't seem to wrap my head around.

When I parse the HR data in the attached file I found some event_timestamps that are represented with a 32 bit integer:

[<FieldData: filtered_bpm: (91, 90, 90, 90, 90, 90, 90, 90) [bpm], def num: 6, type: uint8 (uint8), raw value: (91, 90, 90, 90, 90, 90, 90, 90)>,

[2017-06-20 01:54] pR0Ps commented on #26
Did some testing - this only happens in Python 2. Python 3 parses it correctly.

[2017-06-20 03:30] pR0Ps commented on #26
@haualan can you confirm that [the fix I pushed](https://github.com/dtcooper/python-fitparse/issues/28) works for you on other files as well? Also, I added the file you attached to the repo as part of the test suite. If you would rather I didn't (personal information in it?), I can take it out, just let me know.

[2017-06-20 06:55] haualan commented on #26
thanks @pR0Ps the file can be included in the test suite.

The seconds integer didn't quite match up with the entire length of the activity. I think there is some quirk in the integer conversion.

if you see the p.42 of the FIT SDK in attached, the event_timestamp_12 has 12 integers in them but when expanded into event_timestamps there should only be 8 of them.

The current fix shows 12 of them. A

[2017-06-21 00:02] pR0Ps commented on #26
Reopening for further investigation

[2017-06-21 02:34] pR0Ps commented on #26
After going through the FIT SDK, I think what's there is correct. Here is a section from `FitSDKRelease_20.35.00/cpp/fit_profile.cpp`:

Note there are 10 `event_timestamp` components.

[code]

`Profile::Field` is defined in `FitSDKRelease_20.35.00/cpp/fit_profile.hpp` as:
[code]
Note that the variable named`numComponents` in this structs maps to the parameter `10` for the `event_timestamp_12` fiel

[2017-06-21 02:34] #26 closed

[2017-06-23 17:31] noeldum opened #29 "Can't open FIT file"
Is that project still alive?
I tried this below on a file from a forerunner

[code]

That result as

[code]

[2017-06-23 19:29] pR0Ps commented on #29
Please provide a sample file or there's not much we can do.

[2017-06-25 15:23] noeldum commented on #29
Sure. Here is the file.
[76NE5832.FIT.zip](https://github.com/dtcooper/python-fitparse/files/1100406/76NE5832.FIT.zip)

[2017-07-01 02:28] pR0Ps commented on #29
I just tried parsing that file using the version at 5283af577d593bfb11bdc582c7d2df61b6ce3c40 and it worked fine. Are you using the latest version?

@dtcooper Maybe the PyPI version needs updating?

[2017-07-01 11:41] noeldum commented on #29
Thank you. I updated to the 5283af5 version but can't confirm version was the actual problem here.

Found fitdump to work and not my initial code indicated above.

Solved the issue by feeding the full path. (although script and data file being in the same directory).
fitfile = FitFile("./76NE5832.FIT")
instead of
fitfile = FitFile("76NE5832.FIT")

[2017-07-01 14:52] pR0Ps commented on #29
Oh wow, so this is definitely a bug and a really unexpected one at that. It's due to a combination of Python2's poor bytes/str behaviour, and the *length* and *extension* of the filename if you can believe that.

The check for "did you proivde raw file data to the constructor" is currently this:
[code]
In Python 2, the passed in string is of type `bytes` and of course `76NE5832.FIT[8:12]` == `.FIT

[2017-07-07 11:56] lsei commented on #8
+1 Trying to convert a TCX file to FIT and have it include power (watt) data. None of the solutions online so far have lead to success as they do not accept TCX files or drop power data when converting to FIT. Realise this is quite an old thread... Have you come across anything like this in the mean time?

[2017-07-07 19:06] #29 closed

[2017-08-17 20:22] Tigge opened #35 "Fails parse of `developer_data_id` record without `application_id`"
When trying to parse a fit file I'm running into trouble. This is what I get back running `fitdump` on master:

[code]

I believe this is due to fitparse trying to read a nonexisting field in a `developer_data_id` record. This file has only the `developer_data_index` and not `application_id` which fitparse seems to always want to read.

[2017-08-17 21:47] Tigge opened #36 "New release?"
Hi, the version on pypi is a bit old and doesn't contain the fix to #15 for example. Would it be possible to release a new version there soon?

[2017-08-21 12:10] #35 closed

[2017-08-21 12:40] Tigge commented on #35
Thank you! Just out of curiosity (I'm not familiar with the code) - are you
are not fetching which blocks to read from the definition records in this
case or is this done automatically in some other place of the code?

On Mon, Aug 21, 2017 at 2:10 PM, Carey Metcalfe <notifications@github.com>
wrote:

[2017-08-21 13:43] pR0Ps commented on #35
Disclaimer: I'm not the original developer (that would be @dtcooper) or the person who wrote the developer extensions code (@nall) so I'm not the best person to be answering this but I'll give it a shot.

When parsing messages, if the type name is `developer_data_id`, a dev type is recorded with the data index (`developer_data_index`) and application id (`application_id`). If the type name is `fie

[2017-10-05 17:13] haualan opened #38 "Came across a FIT file that cannot be parsed"
[2017-10-04-20-03-29.fit.zip](https://github.com/dtcooper/python-fitparse/files/1360252/2017-10-04-20-03-29.fit.zip)
I came across a fit file that cannot be successfully parsed but it appears that the file can be imported by other libs like Golden Cheetah so I thought I would bring it to your attention.

Here are the logs from the error when i try to parse the file.
`
Traceback (most recent call l

[2017-10-06 13:03] pR0Ps commented on #38
Thanks for the report, I've confirmed the issue in both Python 2.7.13 and 3.6.0. Would you mind if this file was added to the repository as a test case?

[2017-10-06 14:07] haualan commented on #38
Not at all. Feel free to use the file for test case.

On Oct 6, 2017 21:03, "Carey Metcalfe" <notifications@github.com> wrote:

Thanks for the report, I've confirmed the issue in both Python 2.7.13 and
3.6.0. Would you mind if this file was added to the repository as a test
case?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://git

[2017-10-11 11:34] pR0Ps commented on #36
Seems there's already a preview of the current API up as `1.0.0` release on PyPI even though the current source only specifies `0.0.1-dev`. For this reason, when I release it, I'll bump the version to `1.0.1` so projects will automatically pull down the new version. Future releases should then follow semvar.

[2017-10-12 18:32] pmatos commented on #36
+1

[2017-10-13 19:07] dtcooper commented on #36
Sure! Works for me! Thanks @pR0Ps.

[2017-10-13 19:09] #38 closed

[2017-10-13 19:14] dtcooper commented on #36
(You should have access to the [`fitparse`](https://pypi.python.org/pypi/fitparse) package on on PyPI, @pR0Ps)

[2017-10-27 13:26] emilkarl opened #41 "Export activities to json?"
Is there a way to export records to json?

[2017-11-09 09:20] F3L1X79 commented on #41
This is what I managed to do so far:

[code]

[2017-12-01 10:48] F3L1X79 opened #42 "Ubuntu 12.04.5 LTS error"
I'm not quite sure if this is a real issue, but I had no problem to run a script on macOs localhost,
but when running in production on a Ubuntu 12.04.5 LTS server, I got this error:

[code]

I'm asking for some help if you got any idea about this? Many thanks.

[2017-12-01 11:12] F3L1X79 opened #43 "Corrdinates units?"
Sorry to bother you guys, but in my .fit file the output of fitparse for _laps_ and _records_ are like:
[code]
What kind of unit is this?
 For information, desired output is:
[code]
I get them for another file, they should be the same - but I'm currently unable to do the conversion between each other.
Any help is greatly appreciated.

[2017-12-01 12:12] sanderroosendaal commented on #43
latitude = fit_latitude*(180./2**31)

The units in .fit are semicircles

[2017-12-01 12:18] #43 closed

[2017-12-01 12:21] pR0Ps commented on #42
Could you post the file that caused this as well as your Python version?

[2017-12-01 12:24] F3L1X79 commented on #42
Sure,
Python 2.7.3

myscript.py:
[code]
[](https://developer.garmin.com/downloads/connect-api/sample_file.fit)

[2017-12-01 15:42] buma opened #44 "CSV output support"
I added simple CSV output support with python csv library. It is in my [branch](https://github.com/buma/python-fitparse/tree/addCsv). If this would be something you would like I'll clean it up and add it properly.

Currently messages are read and saved in list. Then if csv output is requested message list is lopped over and field names are saved of all fields that have non None value. Then message

[2017-12-01 15:52] buma opened #46 "Timestamp_16 support"
Currently in FIT we have timestamps which are 32bit and timestamp_16 which are 16bit difference from previous timestamp and are currently not read into nice values.

I wrote generator function based on [ParseVivosmartHR](https://github.com/4kbt/ParseVivosmartHR/blob/master/parseFITs.sh). [Here](https://www.thisisant.com/forum/viewthread/6374) seems to be offical function how to do it (in Java):
[c

[2017-12-01 16:01] pR0Ps commented on #46
As an FYI for testing this there is already a file that has these `timestamp_16` fields in the repo: `tests/files/MonitoringFile.fit`

[2017-12-01 16:14] F3L1X79 commented on #42
JESUS, I'm so sorry, I may have corrupted the file because I cannot reproduce after re-downloading it...
So nervermind all of this and again: sorry!

Thank you for the good work by the way!! This library is really great!!

[2017-12-01 16:14] #42 closed

[2017-12-15 06:33] dks7inc opened #47 "fitparse using python3"
Will it work with python3 if yes could guide me how

[2017-12-15 09:40] jeanbaptistemora commented on #47
Using it with Python 3.5.2, so yes :)

Just install it via pip, and do 👍

[code]

[2017-12-15 12:09] #47 closed

[2018-01-20 16:34] polyvertex commented on #3
Late jump in but in case it helps: according to the `Profile.xlsx` file from the ANT SDK as well as its documentation, values of the `date_time` type are given in UTC. There is a separate type for local time: `local_date_time`, that is spit in some messages.

Therefore for correctness and consistency, I guess fitparse should always make its `datetime.datetime` objects "timezone aware" by either sp

[2018-01-20 17:06] polyvertex commented on #3
Oh, it seems fitparse's data processor is context-less so the timezone offset of a `local_date_time` value cannot be deduced without significant modifications :(

[2018-02-02 11:49] gamb opened #49 "Question: extracting duration"
Hi, thanks for this useful library. Just having a play with some of the usage examples. Appreciate anyone who could tell me if this is a reliable way to calculate duration (and if there isn't an easier way)...

[code]

I'm assuming:

- `list(ff.get_messages(name='record'))` will always be in chronological order
- there isn't a 'duration' field I could pull out instead

Can anyone confirm this?

[2018-02-02 15:52] jeanbaptistemora commented on #49
Hello,

You can get_messages with "name" == "session". These are the different sports/activities selected on the device.
Inside those, in most of the fit files I've seen (40k+ so far) you have a field named "total_elapsed_time" (and in most cases also "total_time_time" depending on what you want).

So simply do :
`
sessions = list(fit.get_messages(name='session'))
duration = sum([session.get_value

[2018-02-03 10:26] gamb commented on #49
Awesome @jeanbaptistemora :)

[2018-02-03 10:26] #49 closed

[2018-02-16 12:36] xmedeko commented on #3
Do not know much about it, but looking in the ANT SDK Java and C# code, there is some "DeviceSettings `device_settings` profile message" with `active_time_zone, utc_offset, time_mode. time_offset, time_zone_offset`.

[2018-02-17 13:14] dukeduck1984 commented on #3
In the 'activity' message `.get_meesages('activity') ` you will find a field called 'local_timestamp'.  Its description, according to the FIT File Types in the SDK, is 'Timestamp epoch expressed in local time.  Used to determine the time_zone or convert timestamps to local time.'

[2018-02-18 09:47] xmedeko commented on #8
@dtcooper `fitdump` is ready, but it _reads_ FIT. This feature request is about _writing_ a FIT file.

[2018-02-21 08:19] xmedeko commented on #8
The Python fit library https://github.com/rembish/fit can create FIT files, but it's unmaintained for some time, though.

[2018-02-25 21:31] pR0Ps opened #53 "Change Bitcoin donation address?"
Might want to rethink one starting with `1GAYJEW`.

To be clear, I have no issue at all with adding a donation address and personally I couldn't care less what it says. However, in my opinion it's just not very professional. Plus, the internet hate machine can be vindictive, no matter the reason. Seems safer to just generate a new one and sidestep the whole issue.

[2018-02-26 00:12] dtcooper commented on #53
Seems wise. I'll revert. :)

[2018-02-26 00:12] #53 closed

[2018-02-26 04:46] #41 closed

[2018-03-06 21:54] xmedeko opened #55 "RecordBase.__init__ slows down"
fitparse uses many many objects and many of them are of `RecordBase`, The `RecordBase.__init__` is a bit slow. E.g. I've tried to optimize `FieldData.__init__`:
[code]
And parsing of `event_timestamp.fit` has sped up by 0.8 sec. Generally, the `getattr`, `hasattr` and `setattr` slows down the process when used so extensively.

I may create PR to change all `RecordBase` and descendants init. But th

[2018-03-06 21:59] dtcooper commented on #55
Thanks for noting the comment and letting us know. Of course a PR would be welcome! :)

[2018-03-07 08:18] xmedeko opened #56 "Protocol and profile versions are not float"
The `FitFile.protocol_version, profile_version` are just strings "major.minor" (i.e. "int dot int" format), not floats. Floats are inaccurate representations.
I propose to create a custom class `FitVersion` with fields `major, minor` and `__str__` func with proper formatting. Can make a PR for that.

[2018-03-07 14:56] dukeduck1984 commented on #3
I came across a .fit file recorded by a Garmin Edge 510 which didn't have the 'local_timestamp'.  Another way to work around this is to use the latitude and longitude data to get the timezone info (there are a couple of packages available for this).

[2018-03-12 20:17] xmedeko opened #59 "Do not cache messages in FitParse._messages"
When parsing a large FIT file (2MG, 75.000 data messages), the memory consumption is about 90 MB. I have tried to remove `FitParse._messages` and the memory consumption has dropped to 13MB. (And a few percent faster.)

I think the `FitParse._messages` and the property `FitParse.messages` should be removed - caching is the task of the user code.

If you want to keep it, then there should be some pa

[2018-03-13 19:55] xmedeko opened #60 "MessageType records field time_from_course has wrong name"
The `MessageType(name='record')` has field 11 named `'event`, but it's `time_from_course` in the Profile.xls. I report it as an issue of the `genprofile.py` probably?

[2018-03-13 20:17] xmedeko commented on #60
Apologies, I have unintentionally overwritten this name in my local clone of the file.

[2018-03-13 20:17] #60 closed

[2018-03-27 15:22] mattschultheis opened #62 "FIT File with RunScribe Plus"
I recently purchased a RunScribe Plus, which adds running dynamics (but not Garmin Running Dynamics) data to the the .fit file via a ConnectIQ data field (example file here: [file](https://drive.google.com/open?id=1CruSthjf33NjEr0SfRzbOCg1sQg-yvqX) )

I am no longer able parse the file using fitparse. I get the following error

`~\AppData\Local\Continuum\anaconda3\envs\pfda\lib\site-packages\fitpa

[2018-03-27 15:29] xmedeko commented on #62
Seems like it contains a message with no field. May you put your FIT somewhere do download or at least provide a full stack trace?

[2018-03-27 15:40] mattschultheis commented on #62
Sorry - I'm new to using fitparse, currently running from a Jupyter notebook.

Cropped part of file that I'm trying to parse:
[https://drive.google.com/open?id=1CruSthjf33NjEr0SfRzbOCg1sQg-yvqX](https://drive.google.com/open?id=1CruSthjf33NjEr0SfRzbOCg1sQg-yvqX)

Entire error trace:

---------------------------------------------------------------------------
TypeError

[2018-03-27 16:24] xmedeko commented on #62
I've found three bugs when parsing this file by `fitdump`:
- Some fields has no name for a message `#36` (record).
- The `StandardUnitsDataProcessor` fails when speed is a tuple, see again message `#36`.
- `enhanced` fields are twice in a record, when the record, e.g. message `#36` has twice `enhanced_altitude`, twice `enhanced_speed`.  It's because it's included there first time from a `Component

[2018-04-19 18:10] woodmicha opened #63 "FIT containing multiple activities?"
More of a question than an issue.  Can you let me know how to determine which records align with which activity in instances where multiple activities have been included in one FIT file (e.g. triathlon with swim, transition, bike, transition, run)?

The records pull in fine but I'm trying to segregate the records into distinct sets for each activity.

Thanks in advance for any suggestions.

[2018-04-20 01:46] dtcooper commented on #63
If you could send me a copy of a FIT file in question, I can try to help. david AT dtcooper.com

Thanks!

[2018-04-20 08:34] jeanbaptistemora commented on #63
In our project which supports this type of multi-activities files we do something like this :

[code]

And then in GarminSessionFIT something like :

[code]

[2018-04-20 17:04] woodmicha commented on #63
Thanks for the guidance.  Assuming the messages are in sequential order the approach outlined by @jeanbaptistemora will work fine.  I'll give it a whirl this weekend and holler if I have any more questions.   Regards, Mike

[2018-04-20 17:06] dtcooper commented on #63
They _should_ be sequencial @woodmicha. Going to close this, but please let us know if you continue to have problems. Thanks!

[2018-04-20 17:06] #63 closed

[2018-04-20 17:07] dtcooper commented on #63
(As well, thanks for the help @jeanbaptistemora 😄)

[2018-04-23 07:47] sanderroosendaal opened #64 "FitParseError invalid field size 227 for type 'sint32'"
After upgrading fitparse to the latest (master branch), one of my standard test files fails to parse. This is a file produced by a NK SpeedCoach GPS 2 device. The file parses well on SportTracks, Strava, etc.

C:\Users\e408191\AppData\Local\Continuum\Anaconda2\lib\site-packages\fitparse\base.pyc in _parse_definition_message(self, header)
    196                 # examples in the wild. For now, jus

[2018-04-23 07:50] sanderroosendaal opened #65 "TypeError basestring type cannot be instantiated"
After upgrading fitparse to the latest (master branch), one of my standard test files fails to parse. This is a file produced by a NK SpeedCoach GPS 2 device. The file parses well on SportTracks, Strava, etc.

C:\Users\e408191\AppData\Local\Continuum\Anaconda2\lib\site-packages\fitparse\base.pyc in _parse_raw_values_from_data_message(self, def_mesg)
    244             is_byte = base_type.name ==

[2018-04-23 07:53] sanderroosendaal commented on #65
My last successful build was 12 days ago

[2018-04-23 07:53] sanderroosendaal commented on #64
My last successful build was 12 days ago

[2018-04-24 17:52] xmedeko commented on #64
I've tried `scripts\fitdump 3x250m.fit` and it has processed without any error. What version of Python do you use? How to you use fitparse (e.g. do you use fitdump or your own python code?).

[2018-04-24 18:03] sanderroosendaal commented on #64
Here is some example code that gives the error:
`from fitparse import FitFile
f = '../testdata/3x250m.fit
fitfile = FitFile(f,check_crc=False)
fitfile.parse()`

[2018-04-24 18:50] xmedeko commented on #64
What exact version returns `python --version` ?

[2018-04-24 19:05] sanderroosendaal commented on #64
Not sure I understand your comment (probably my fault) but on Travis-CI it fails as well. https://travis-ci.org/sanderroosendaal/rowingdata/builds/369964083

[2018-04-24 21:06] pR0Ps commented on #64
Sure, remove the shim.

As a sidenote, In the future I would prefer it if commits could go into a
PR before they hit master.

On 24 April 2018 at 15:19, Ondrej Medek <notifications@github.com> wrote:

[2018-04-25 12:45] #64 closed

[2018-04-30 22:02] woodmicha commented on #63
You guys gave me great information.  I have one more question I've been unable to establish the exact logic Garmin uses for smart recording mode.  I'm curious if you know how it works or have any pointers?

We have a function to expand a stream that has been recorded with smart mode on.  Right now we propagate values back in time instead of pulling the last value forward.

For example:

time[0] =

[2018-05-03 00:43] woodmicha opened #67 "Smart Mode Logic"
I have one more question (not an issue) as we've been unable to establish the exact logic Garmin uses for smart recording mode. I'm curious if you know how it works or have any documents that detail it?

We have a function to expand a stream that has been recorded with smart mode on. Right now we propagate values back in time instead of pulling the last value forward.

For example:

time[0] = 1; w

[2018-05-03 06:32] xmedeko commented on #67
From a [DC Rainmaker comment](https://www.dcrainmaker.com/2016/03/configure-watches-datafields.html#comment-1481833) I think it's none from above:

1 sec recording: 130bpm, 131bpm, 133bpm, 135bpm, 135bpm, 137bpm
Smart Recording might be: 130bpm, 137bpm

I have not seen any document from Garmin about FIT file semantics and how they do record workouts. I guess they keep it secret. It's always blackb

[2018-05-03 06:40] dukeduck1984 commented on #67
I think it's always sampled at 1Hz when power data is presenting?  I simply use interpolation to get the second-by-second info from smart recorded data.

[2018-05-08 12:07] dks7inc opened #68 "FitHeaderError: Invalid .FIT File Header"
Hi
When I an parsing fit files which are stored in the database I got this error FitHeaderError: Invalid.FIT File Header only for one fit file, I am able to parse the remaining fit files

[2018-05-09 07:13] xmedeko commented on #68
Well, some devices produce FITs with invalid header. Just pass a param `FitFile(..., check_crc=False)`. (Note: the official FIT SDK also does not throw error in case of a wrong FIT header.).

[2018-05-09 08:00] dks7inc commented on #68
hi xmedeko
thanks for your response I added check_crc=False this to my code I will paste my Traceback
FitHeaderError                            Traceback (most recent call last)
<ipython-input-17-d0c824f75967> in <module>()
      3 for x in a1:
      4         y = x.fit_file
----> 5         fitfile = FitFile(y,check_crc=False)
      6         for record in fitfile.get_messages('record'):
      7

[2018-05-09 08:34] xmedeko commented on #68
Ahh, I see, the problem is not in CRC but in the file structure. Every FIT must have 'FIT' string in the 8th byte. So, it seems your FIT is wrong. (To test the FIT validity you can try the official FIT SDK, or try to import it to the Strava or Garmin Connect.)

[2018-05-09 09:51] dks7inc commented on #68
thanks xmedeko

[2018-05-09 11:12] #68 closed

[2018-05-18 07:39] hugokernel opened #69 "Problem on timestamp extraction"
Hi,

I work on a tool to extract data from Swimming Strap HRM from fit files and when I try to display data as chart, I see big difference between real chart (from Garmin Connect) and data extracted from fit-parse.

After investigation, I found a difference in the fitparse timestamp calculation compared to same data extracted from the Garmin FitCSVTool.

First 4 lines of Strap HRM data extracted w

[2018-05-24 03:30] #67 closed

[2018-05-28 15:44] sho-87 opened #71 "Raw acceleration values"
Is it possible to extract the raw accelerometer values from a fit file?

I tested the following example from the docs but it doesn't contain any acceleration fields:

[code]

[2018-05-30 12:48] polyvertex commented on #69
Same issue here with an HRM-Tri strap.

I stumbled upon a working example after some head scratching:

[code]

There *seem* to be 2 issues here:

* While fitparse parses the records correctly, it does not handle `event_timestamp_12` properly. Since I'm not familiar enough with the whole protocol nor with fitparse, I'm not sure whether this field and its logic should be considered a special case or

[2018-05-31 11:01] hugokernel commented on #69
I will try that as soon as possible.
Thx

[2018-05-31 14:12] pdura commented on #69
Hi polyvertex,
Thanks a lot for your feedback on this as I was also wondering how to get hr from my swim strap.
I'm still missing something there. How do you convert the timestamp you've got from this code to a real epoch timestamp ? I know the fit parser does it well but I can't manage to find where :/
I'm trying to add the UTC_REFERENCE but I still don't have a valid one.
Thanks a lot for your h

[2018-05-31 14:19] polyvertex commented on #69
Hey @pdura, `hr` messages are appended to the file during the post-activity synchronization stage. E.g. on Garmin devices, it's when you `Save` your activity. Then it is up to your file reader to apply the content of these late `hr` messages to the `record` messages you previously read.

Regarding the timestamps, fitparse, makes them available to you. `fitdump` is invaluable for this kind of quest

[2018-06-11 08:10] xmedeko opened #72 "Refactoring and optimization by decorators"
@dtcooper @pR0Ps
I would like to start discussion about general change of the FitFile architecture, already started in #61 and #57. The problem is speed, code simplicity vs. feature richness.

IMO is may be solved by the [decorator pattern](https://en.wikipedia.org/wiki/Decorator_pattern), e.g. see [this example on python.org](https://wiki.python.org/moin/DecoratorPattern). (It's not exactly same

[2018-06-26 09:45] pokey opened #73 "Error when updating profile version"
When trying to update the sdk version to 20.66.00, I get the following error:

[code]

I believe this is because the desired path is actually not at the root of the zip, but rather just below the top-level `FitSDKRelease_20.66.00` directory

[2018-07-19 14:12] pokey commented on #73
Maybe I'm missing something in that PR, but I don't believe that fixes the problem at hand, which I believe will continue to be a problem when someone tries to update `profile.py` again based on a newer version of the SDK

[2018-07-19 20:06] polyvertex commented on #73
I do not have any issue with `generate_profile.py`. Perhaps it's because I have the zip archive in the same directory?
[code]

[2018-08-03 09:04] pokey commented on #73
Hmm just tried that, and still got the same error message

[2018-08-23 10:25] jeanbaptistemora opened #75 "New uncovered (edge-?)case : parse_string ValueError"
Hello everyone,

I wanted to report a small bug - or rather an uncovered case - in the get_messages() function, and see if anyone else sees the same thing.

We have a system in production extracting ~800 fit files per day and since 15 days we have seen ~ 50 (increasing by the day) fit files with an exception :

[code]

I'm not a specialist but I've tried to debug this and started by outputting the

[2018-08-23 11:07] xmedeko commented on #75
The FIT file contains the length of data. AFAIK the parser should handle both cases - if the string has null value or does not have it at the end of the string data.

[2018-08-25 07:52] polyvertex commented on #75
FYI this is fixed by #74 (not merged ATM)

[2018-09-01 17:37] lin826 commented on #73
Replace two files' names in _scripts/generate_profile.py_ may help.
'c/fit.h' to 'FitSDKRelease_xx.xx.00/c/fit.h'
'Profile.xls' to 'FitSDKRelease_xx.xx.00/Profile.xls'

[2018-09-18 12:46] jeanbaptistemora commented on #75
Sorry for the response time, I've been quite swamped.

Thank you so much for your answers ! @polyvertex your solution is quite more elegant than mine, I've changed our hotfix for this one, awaiting for your PR to be merged :)

I'll close this issue.

[2018-09-18 12:46] #75 closed

[2018-09-21 17:59] mrzaheri opened #76 "Updating Profile based on custom messages/fields in config.csv, types.csv and messages.csv"
You can add new messages or add new fields to a message using by updating the config.csv, types.csv and messages.csv.
It will be great if the profile can be updated based the new information on these files.

[2018-10-13 03:20] #69 closed

[2018-10-15 07:57] jcborras opened #77 "Saving fit files?"
Not actually an issue but a feature request: I can't seem to find a way to make (write) a FIT file from a list of records.
Typical usage scenario: data merge from some GPX/TCX source.
I can open a FIT file using python-parse and I could even add records with the missing information but I can't find a method to write a FIT file out of the updated list of records.
Thanks in advance.

[2018-10-15 08:57] xmedeko commented on #77
Duplicate of #8 some alpha code is in the PR #58 (not merged yet).

[2018-10-15 09:05] jcborras commented on #77
I dare to reopen the issue since #8 scope is significantly larger.
Writing a fit file with a different name from just parsed data requires far less work that dealing with (for instance GPX/TCX files) since the later involves XML parsing for varied document entities and possible extensions enduring the shortcomings of python libraries for (for instance) dealing with XML namespaces. Being there.
Jus

[2018-10-15 09:14] xmedeko commented on #77
OK, that makes sense.

[2018-10-15 09:30] xmedeko commented on #77
IMO #8 is mostly about saving fit file, maybe some simple CVS or JSON parsing. It's not intention of this tool to do TCX or any other elaborate data format parsing, it should stay with low level FIT operations. So So I vote to merge these feature requests and close one as duplicate. @dtcooper what are your thought about this?

[2018-11-07 00:00] anthonyjchriste opened #78 "Installing from pip produces error message"
Trying to install python-fitparse from pip produces the following error:

Python: 3.7.0
pip: 18.1
OS: OS X 10.13.4

[2018-11-07 00:11] anthonyjchriste commented on #78
Sorry, I just realized the package name is fitparse, not python-fitparse. FYI, the documentation at http://dtcooper.github.io/python-fitparse/ is out of date. If I find some time I will clean it up and submit a pull request.

[2018-11-07 00:11] #78 closed

[2018-11-07 00:18] dtcooper commented on #78
Yay! Thank you. Pull requests always welcome, especially ones cleaning up + adding docs :)

[2018-11-07 21:41] BerenV commented on #44
I would definitely be interested!

[2018-11-18 21:31] danpatdav commented on #46
Any progress on this issue?  I am struggling to make sense of heartrate records which utilize timestamp_16.

[2018-12-29 23:11] brandonStell commented on #46
Hi @buma, I seem to be doing something wrong.  How should fix_times be called?

[code]

[2018-12-30 20:55] danpatdav commented on #46
Happy to rest any updates code.

[2019-01-03 10:14] vlcvboyer commented on #8
+1 writing fit files will be useful !

[2019-01-12 18:55] woodmicha opened #82 "exception in parse_string"

[2019-01-12 18:55] #82 closed

[2019-01-24 04:48] woodmicha opened #83 "Exception in add_dev_field_description at line 395"
Recently started to see an exception when parsing FIT files.  I believe it may be related to them originating from a wahoo element device.

The error is a key error for the BASE_TYPES dict.  The key is 143 which in hex is 0x8F.  Some of the other variables include:

<DataMessage: field_description (#206) -- local mesg: #0, fields: [developer_data_index: 3, field_definition_number: 0, fit_base_type

[2019-01-24 16:48] dtcooper commented on #83
This is actually fixed, @woodmicha. See [theses lines of code](https://github.com/dtcooper/python-fitparse/blob/79803587/fitparse/records.py#L428-L430). Please install from latest master.

[2019-01-24 16:48] #83 closed

[2019-01-24 17:43] woodmicha commented on #83
Thanks for the quick reply and solution!

[2019-02-01 12:00] 23chrischen commented on #8
+1, would love to see this!

[2019-02-28 05:24] beyoung opened #84 "max_speed && speed problem"
fit file:
[2019-2-13-10-36-52-12791.fit.zip](https://github.com/dtcooper/python-fitparse/files/2913492/2019-2-13-10-36-52-12791.fit.zip)

fitparse version 1.0.1
max_speed : 14.201

fitparse version 1.1.0
max_speed: 14201

and speed encounter the same problem.

[2019-03-05 06:07] beyoung commented on #84
As I dive into detail, I found that bug is caused by generate_profile.py script, in line [468](https://github.com/dtcooper/python-fitparse/blob/master/scripts/generate_profile.py#L469), which wipe out scale, offset and units.
But I think that only in situation of components scale is None or b'' or is not digit(
    ![image](https://user-images.githubusercontent.com/2298389/53784353-f06aad00-3f4f-1

[2019-03-07 19:38] cberthiaume commented on #84
Hi, we've been happy users of this library for a while. We recently encountered an issue that is resolved by [this](https://github.com/dtcooper/python-fitparse/blob/master/fitparse/records.py#L390) work around which is available in 1.1. However, the bug described in this issue is preventing us from moving to 1.1. Any idea when this change will make it to a release that we can install with pip?

Th

[2019-03-08 21:54] dtcooper opened #86 "`test_int_log` Failing"
Hey @pR0Ps -- this test is failing with our new generated profile, but I'm trying to figure out what it tested in the first place, and if it's a bug or the test. Thanks!

https://github.com/dtcooper/python-fitparse/blob/99ea8450ee8abcfacd60a562d1e68f4460a58ba7/tests/test.py#L395

[2019-03-11 09:09] beyoung commented on #84
@cberthiaume You can create a new issue to detail your problem.

[2019-03-11 09:09] #84 closed

[2019-03-11 15:27] cberthiaume commented on #84
I'm confused, the issue in this issue is my problem. I see it's been merged. I'd just like to know when it will be released.

[2019-03-14 17:55] dtcooper commented on #84
@cberthiaume, you're able to install it from pip immediately. Just use the latest SHA, see [this post on Stack Overflow](https://stackoverflow.com/a/13754517).

[2019-03-14 20:27] cberthiaume commented on #84
Excellent, thanks @dtcooper!

[2019-04-03 02:25] beyoung opened #88 "[WIP] travis ci for project"
I'd like to add travis ci scripts for python-fitparse

[2019-04-30 11:46] AartGoossens opened #91 "Documentation out of date"
The documentation at [https://pythonhosted.org/fitparse/](https://pythonhosted.org/fitparse/) is out of date. The documentation is for version 0.0.1 but the latest version is 1.1.0.

One of the main issues (and the one that made me notice that it is outdated) is that the docs tell you to install with `pip install python-fitparse`...

I do not have an overview of how up to date the documentation is

[2019-05-05 08:00] #88 closed

[2019-06-06 16:18] yakirsudry opened #92 "Avoid DeprecationWarning in python 3.7 causesd by "from collections import Iterable""
It just needs to be replaced with

from collections.abc import Iterable

[2019-06-27 17:33] kobrien18 opened #93 "Issue with end of file parsing"
I am attempting to use fitparse to pull data from a RunScribe .fit file, and am running into an error at the end of the file:
fitparse.utils.FitEOFError: Tried to read 2 bytes from .FIT file but got 1

I do not run into this issue with a Garmin .fit file. I'm using Python 3.7 on Windows 10 (64-bit) and I've attached the simplest version of the files that I believe will recreate the error.

Please

[2019-07-01 01:10] rjjanuary opened #94 "Parsing events?"
Hello,
I'm looking to possibly utilize this library to parse divelogs from the Garmin Descent.  The files are standard ant files with some (currently) undocumented messages and events.

I do see that a number of the dive messages are currently supported, however there are a number of events that are included within the Descent files that I'm not seeing.
In particular, what I'm looking for are even

[2019-07-01 02:14] rjjanuary commented on #94
Looking further into it, I can see how the profiles are being generated from the SDK.  Looks like the best method of action is modifying a profile by hand until the events are released in an SDK version.

[2019-07-02 01:55] rjjanuary commented on #94
If anyone is wanting a copy of profile.py which includes the correct field_types data for events 56 and 57 let me know, I have a modified version available that seems to work well for all current events as of OS version 6.0

[2019-07-20 23:36] #86 closed

[2019-08-17 15:50] woodmicha opened #96 "How to mitigate the FitParseError throwing for a bad index?"
I'm getting this exception for a few users in their Fit files:

FitParseError("No such dev_data_index=%s found" % (dev_data_index))

Looks like it's related to Battery Level and the dev_data_index is 0.

<DataMessage: field_description (#206) -- local mesg: #3, fields: [field_name: Battery level, units: %, fit_base_unit_id: None, native_mesg_num: record, developer_data_index: 0, field_definition_n

[2019-08-18 08:03] polyvertex commented on #96
It would be interesting to analyze these files but I guess you cannot share them?

[2019-08-22 14:16] francescolosterzo commented on #46
Hello! Happy to see this discussed here :)
I am struggling with the same problem, and for me the formula in the top post doesn't work! Following the instructions from [here](https://www.thisisant.com/forum/viewthread/6374/), I tried to use that formula by hand in order to see if things made sense.

I downloaded my heart rate data recorded on May 1st 2019 from the Garmin Connect web page, i.e. the

[2019-08-22 15:41] woodmicha commented on #96
Unable to share files due to PII.  Perhaps someone could share if this is a fatal error or if it's something that allows the files to be parsed in spite of the error?

[2019-08-23 07:22] francescolosterzo commented on #46
I tried to look at things in detail going step by step in the above formula:
[code]
and, as before the result is wrong by more than 12 hours.
(note that `step2` is negative!)

Also, the instructions say

but the final result is not a 32-bit variable in which the first 16 are from the original `mesgTimestamp` and the last 16 are from `timestamp_16`.

On the other hand I tried to build it by hand, a

[2019-09-04 21:28] tuxinaut commented on #46
Does this maybe help?

[adjust_time.R](https://github.com/UBESP-DCTV/garminer/blob/53d6e2e2159994b16c72a176c1e56fe83e2f06f0/R/adjust_time.R)

[2019-09-05 10:41] francescolosterzo commented on #46
thanks @tuxinaut ! I tried it but I still get a sizeable difference, i.e.: `datetime.datetime(2019, 4, 30, 18, 36, 44)`

On the other hand I browsed the details of the code and I see that the UTC offset shift due to Garmin's different starting time [is applied](https://github.com/dtcooper/python-fitparse/blob/master/fitparse/processors.py#L70) to `timestamp`, but I cannot find anything similar for

[2019-09-05 21:59] tuxinaut commented on #46
@francescolosterzo really cool work :+1: and yes I'm pretty sure that's timezone related (take a look on the code below)

[code]

[2019-10-31 14:50] jmmid commented on #44
Hello,
I am looking for a program that converts a Garmin .fit file to .CSV.
This program should be portable (without installation in Windows) and could be run from a command line type FitToCsv.exe, file.fit, file.csv.
The information I need in this csv file is:
- the date of the activity
- the duration (HH: MM)
- the distance in km
- the elevation gain
- Calories
- average heart rate
- maximum hea

[2019-12-11 15:58] dukeduck1984 opened #97 "ValueError: subsection not found"
Hi,

I tried to parse a .fit file generated by a garmin watch (pls see the attached), and got ValueError: subsection not found.  Below is the debug info output by Jupyter Notebook.

[code]

[Dec11_RUN.zip](https://github.com/dtcooper/python-fitparse/files/3951284/Dec11_RUN.zip)

[2020-01-22 16:18] jojacobsen commented on #8
+1

[2020-03-17 01:15] pitts85 opened #98 "Can fitparse be used for getting HRV data from a .FIT file?"
I'm able to get the data using Golden Cheetah so I know it's in the file.  I'd really like to use this code to do it.

[2020-04-20 14:14] MichielBbal opened #102 "parsing of position_lat and position_long"
When I use the script under 'Usage Examples' provided on http://dtcooper.github.io/python-fitparse/ the position_long and position_lat are wrong.

[2020-04-27 00:51] flynn-d commented on #102
Maybe you had the same issue as I did, in scratching my head about what units the lat and long are in. They are in semicircles, see https://github.com/dtcooper/python-fitparse/issues/43 and also the `.fields` method as below:

[code]

[2020-04-27 07:36] MichielBbal commented on #102
Many thanks, flynn-d!
That was exactly what I needed.

[2020-04-27 07:36] #102 closed

[2020-04-28 08:43] MichielBbal commented on #102
With your help I was able to complete a jupyter notebook on plotting the fit file on a map.
Please find it [here](https://github.com/MichielBbal/cycling_data).

Many thanks again!

[2020-04-30 09:31] dukeduck1984 commented on #97
I updated the FIT SDK profile and the error has gone.

[2020-04-30 09:31] #97 closed

[2020-05-15 22:13] jmrnilsson opened #103 "I believe someone already wrote a console app for you"
In the readme for some time ago. It says i console app is in progress. However, https://github.com/Tigge/FIT-to-TCX. This one takes this repo and makes console app to convert to TCX.

[2020-05-23 08:48] moppi79 opened #104 "Wrong position data"
hi,
become wrong position data from my Forrunner 235 Fit data,the date should be 50.1464~ ,9.0296~
i think it is, be a Wrong struct endian in the deeper code

{'timestamp': datetime.datetime(2020, 5, 22, 8, 15, 57), 'position_lat': 598290819, 'position_long': 107670058, 'distance': 0.67, 'enhanced_altitude': 126.60000000000002, 'altitude': 3133, 'enhanced_speed': 0.457, 'speed': 457, 'unknown_88':

[2020-06-03 19:38] felipeam86 commented on #98
I was wondering the same thing this week

[2020-06-03 23:21] tnikkel commented on #98
If you post an example fit file someone might be able to take a look.

[2020-06-10 13:44] tjaeuth opened #105 "Parsing Error - invalid local message type 2"
Hi,
thanks for this great project.

We use fitparse mainly for Garmin and Wahoo files.
Sometimes it happens that it stops reading the file with following error:
`Got data message with invalid local message type 2 `

I am not allowed to upload files here. It would help if someone could tell me what this error message is supposed to say.

[2020-06-11 05:03] tjaeuth commented on #105
@tnikkel thank you for your answer.

We haven't updated the profile since downloading fitparse. If I understood you correctly, we must update the profile in fitparse, since the profile probably does not match the spec of the files.

I will give it a try by downloading latest SDK and generating a new profile:
`python3 scripts/generate_profile.py /path/to/fit_sdk.zip fitparse/profile.py`

[2020-06-14 14:06] vincentdavis opened #106 "pip install package name is different in the README vs Docs"
On the README the install instructions are ```pip install fitparse```
In the docs they are ```pip install python-fitparsse```

Thanks for this package, what would be the best way to support continued work on this?

[2020-06-18 12:08] erwinfs opened #107 "Wahoo iOS app generated fit file isse"
Hi,
Thank you for your very useful program.

I had an issue with a file generated by the Wahoo iOS app (files from my Garmin watch work fine).
I printed the field names and units in add_dev_field_description:

The fields that lack units cause the problem.

Replacing line 453 in records.py with the following solved the problem for me
`if message.get('units'):
        units = message.get('units').ra

[2020-06-24 09:14] tjaeuth commented on #105
Updating the profile did not help. However, the files were corrupted because they were truncated by some bytes.

[2020-06-24 09:14] #105 closed

[2020-07-03 13:40] theheek commented on #104
Hi,

The problem that you have is due to the used unit. The 'position_lat' and 'position_long' is given in semicircles. This should be converted, see [link](https://docs.microsoft.com/en-us/previous-versions/windows/embedded/cc510650(v=msdn.10)?redirectedfrom=MSDN) for details. Conversion can be done by: _degrees = semicircles * ( 180 / 2^31 )_

[2020-07-15 14:08] gschramm commented on #107
I have the same problem with a file recorded and exported from the Stava Android app.
It seems that some messages don't have the unit field such that message.get('units').raw_value fails as described above.

An example message is:
<DataMessage: field_description (#206) -- local mesg: #0, fields: [developer_data_index: 0, field_definition_number: 1, fit_base_type_id: string, field_name: activity_ty

[2020-07-30 17:32] #107 closed

[2020-07-30 17:43] #91 closed

[2020-07-30 17:43] #106 closed

[2020-07-30 17:59] pR0Ps commented on #104
@theheek is correct. When using the library, the data is given back in the units it is recorded in the file (semicircles for lat+lon).

To get more standard units from the library, a `data_processor` can be used. A data processor that converts semicircles to degrees (among other things) is included in the library. To use it, provide an instance of it to the `FitFile` constructor like so:

[code]

[2020-07-30 17:59] #104 closed

[2020-08-04 04:14] suttondaniel commented on #93
I too am having this exact issue.

[2020-08-10 15:32] jdwil opened #111 "Invalid field size"
I'm hitting the following exception quite a bit lately:

https://github.com/dtcooper/python-fitparse/blob/5a02aef50dbb7450ed7d00f82594bab18d00581a/fitparse/base.py#L193

The Java tools in the FIT sdk can parse these files fine. Can anyone elaborate on the comment above the exception and/or point me in the right direction?

[2020-08-10 16:40] jdwil commented on #111
Oh, I get it... use the Byte type as a fallback. This actually seems to work:

[code]

I don't really understand why though. Reading the spec, it looks like the Base Type Bit Field contains the base type number in the first 4 bits, but fitparse reads a whole byte and treats it as the base_type_num.

...

[2020-08-11 17:48] pR0Ps commented on #93
I don't know what to make of that file - it's almost like it's corrupt or missing some data somehow. I see a `file_id` definition, a `file_id` data record (which looks fine), 5 unknown definitions, then everything else is an unknown record until it errors out.

Does it parse with the FIT SDK from Garmin?

[2020-08-21 05:15] jmrnilsson opened #112 "Hitting "Invalid .FIT File Header" on FR245 Music and sometimes on FR210"
I hit the following failure state on all my Garmin Forerunner 245 Music, and some of my Garmin Forerunner 210 fit files. Unknown if Garmin 245 Music previously had this issue. But there has been firmware updates for this device recently.

[code]

https://github.com/dtcooper/python-fitparse/blob/798035875da1692e3165cc15319380967fa6b812/fitparse/base.py#L105

Version: Pypi `fitparse==1.1.0`

*Thanks

[2020-09-06 22:22] hnagib opened #113 "Error parsing Wahoo TickrX's .fit file"
I am running into an error when parsing any .fit files from my Wahoo TickrX.

Here is the .fit file:
[2020-09-05-115751-FITNESS FB34-27-0.fit.zip](https://github.com/dtcooper/python-fitparse/files/5180368/2020-09-05-115751-FITNESS.FB34-27-0.fit.zip)

Here's the error I get when using version 1.1.0:

[code]

I was able to get around the issue by modifying line 291 of records.py in v1.0.0 from:
[cod

[2020-09-07 03:10] pR0Ps commented on #113
Looks like a duplicate of #107

[2020-09-07 03:10] #113 closed

[2020-09-07 03:25] #62 closed

[2020-09-29 03:23] btiller opened #115 "I just want to rewrite a corrected Garmin fit file"
Thanks for fitparse!  I was able to use python to read my messed up garmin files and correct them (especially the heart rate data when my watch messes up).  But all I want to do is rewrite that same binary datafile back out with the corrected field data.  I read that you are not supporting a generic fit file writer and i understand that.  but is there something already out there that I can use to

[2020-12-20 18:54] pR0Ps commented on #111
64b7d2613 should fix this. Please reopen if this is not the case

[2020-12-20 18:54] #111 closed

[2020-12-25 18:14] #59 closed

[2020-12-25 18:14] #72 closed

[2020-12-30 03:44] dlenski commented on #92
Fixed in c789893237967ca4c5640e4c4e7d9f904b67e307, I believe.

[2020-12-30 03:46] dlenski commented on #115
Why not use https://github.com/Tigge/FIT-to-TCX/ to write the output in TCX format?

TCX can convey all (nearly all?) of the same data as FIT, but in a more human-readable and -editable format.

[2020-12-31 01:42] #92 closed

[2021-01-18 01:02] dtcooper commented on #115
Yeah, the library doesn't support writing. Sorry!

[2021-01-18 01:02] #115 closed

[2021-01-21 04:07] wjkaufman opened #121 "No units field for Apple FIT files"
I'm trying to parse a FIT file recorded by an Apple Watch, but I get the following error:

[code]

As a potential solution I tried modifying `add_dev_field_description` to see if units is in the message (see below), and it seemed to resolve the issue:

[code]

[2021-01-21 04:49] dtcooper commented on #121
Probably it's the outdated profile. Hmmm....

[2021-01-21 04:56] dtcooper commented on #121
@wjkaufman could you provide us with a copy of a FIT file recorded by your Apple watch? (If you're not comfortable sharing it publicly, you could email me at david@dtcooper.com and I will keep it confidential.)

[2021-02-23 16:38] rgmf commented on #8
+1

[2021-02-24 23:32] dlenski commented on #112
Can you share some .fit binaries from these devices? Even a 2-second-long empty activity should suffice.

This header is a very basic fundamental part of the .fit format, and I don't understand how it could diverge on such a common Garmin device.

[2021-02-25 18:39] jmrnilsson commented on #112
Yeah. I suppose. Though I have some few things to reinstall. Give me a few days.

[2021-03-03 01:53] gwtall commented on #94
Hey @rjjanuary, I too am trying to extract the extra events/fields that are populated by the Garmin Descent.  I'm interested in your `profile.py` if you're willing to share.  Thank you!

[2021-03-10 10:20] Kypaz commented on #8
+1

[2021-03-10 10:35] Kypaz opened #122 "Wrong timestamp for HR based on event_timestamps (HRM Swim .fit files)"
Hi,
I have tried recently to integrate HR data from 'hr' fields at the end of the .fit file, because that's what HRM Swim sensor do.

No problem about that, and I've come across #69, but I believe we retrieve directly a timestamp and no need to do specific treatment.

So basically inside 'hr' field, we have 8 'event_timestamp' with associated timestamp, and at the end an array of 8 bpm values, so

[2021-03-13 12:33] fgebhart opened #123 "Parsed altitude values changed from version 1.1.0 to 1.2.0"
First of all: Great tool, thanks a lot!

I'm using fitparse extensively in the [workoutizer](https://github.com/fgebhart/workoutizer) application and wanted to upgrade from v1.1.0 to v1.2.0 in order to resolve some deprecation warnings.

However, some of my tests failed and it seems like that the parsed values of the altitude records changed from one version to the next. Here is an example:

[code

[2021-03-13 13:37] pR0Ps commented on #123
This looks like a bug. Can you provide a sample file that exhibits this problem please?

[2021-03-13 13:40] fgebhart commented on #123
Sure. I was using [this file](https://github.com/fgebhart/workoutizer/blob/master/wizer/tests/data/example.fit) and read the records with code similar to

[code]

Let me know if you need more details.

[2021-03-14 15:24] jmrnilsson commented on #112
I’ve been looking into this. But with a lot of changes in my own code and different version of fitparse. It seems like I don’t have this issue.

You could probably close this issue for now, and I can repost if anything shows again.

TL;DR
I’m did some weird work around the file handle since I want to use streaming requests behind Flask. This might very well have messed with encoding or something e

[2021-03-21 02:09] #112 closed

[2021-04-07 10:49] Kypaz commented on #122
Hello. Is there anyone to confirm the issue or not?

[2021-04-19 09:40] AartGoossens opened #124 "Developer data without developer_data_id message"
Hi,

I have some FIT files that raise a `FitParseError` because they contains developer data (or more specifically: "field description" messages) without the "developer_data_id" message.

I cannot share the files because the data is not mine but I attached a dump of the "field_description" messages in a FIT file coming from a Garmin 235: [field_descriptions.txt](https://github.com/dtcooper/python-

[2021-04-20 10:27] AartGoossens opened #125 "python-fitparse is not thread-safe"
I run python-fitparse in multiple threads (using Apache Beam/Google Cloud Dataflow) and was hitting issues with FIT files that contain developer data that raised errors like `fitparse.utils.FitParseError: No such field 8 for dev_data_index 0`.

At first I thought the issue was related to this https://github.com/dtcooper/python-fitparse/issues/124 but although it looks similar that was not the case

[2021-04-20 10:34] AartGoossens commented on #124
I have been working on an implementation to solve this issue in my fork. Relevant commit here: https://github.com/AartGoossens/python-fitparse/commit/ce09b5c09824f54fd04826c60d53f6c78b47212b
It basically enables you to pass a `check_developer_data` kwarg to the `FitFile()` init:
[code]
It will print warnings when the developer data is not initialized correctly.

This code change solves the issue t

[2021-04-21 18:42] dtcooper commented on #125
Existing fix looks good, if you want to submit a PR

[2021-04-21 18:42] dtcooper commented on #124
PR welcome!

[2021-04-22 09:09] AartGoossens commented on #124
Thanks.
As my fix is built on top of the changes in #126 I will create a PR once we finished that PR, to prevent duplicate work.

[2021-04-23 20:41] #125 closed

[2021-04-24 06:45] ashrude opened #127 "Readme.md links to the wrong documentation url"
in readme.md, it links to https://dtcooper.github.com/python-fitparse instead of https://dtcooper.github.io/python-fitparse/

this is my first time writing an issue, so sorry if I messed something up

[2021-05-03 20:10] #127 closed

[2021-05-03 21:06] #124 closed

[2021-05-15 10:49] MeisterP opened #129 "xlrd.biffh.XLRDError: Excel xlsx file; not supported"
[code]

from https://github.com/python-excel/xlrd#xlrd

[2021-05-16 15:31] evensolberg commented on #121
I'm the one who opened the issue mentioned by @fgebhart .. Feel free to use the FIT file I uploaded to his issue. It's from the Wahoo app on an iPhone.

[2021-05-20 08:04] dtcooper commented on #129
You'll need to use [openpyxl](https://openpyxl.readthedocs.io/en/stable/) or a library that can read xlsx files. PR welcome!

[2021-06-28 19:35] rjjanuary commented on #94
I apologize for missing your message before @gwtall.  I'll dig the code back up.  I've not tested it with any more recent version of python-fitparse, but it will at least be a good starting point.

[2021-09-15 10:58] Lingepumpe commented on #122
Hi @Kypaz

I am looking at analysing "appended" hr data in fit files, did you ever get any futher with this?

In my fitfile there are a few times where the "normal" hr data was received (because the heartrate strap and watch were out of the water for a short while), and looking at fitparse records I see:
[code]
So the pattern to me seems to be I get one "hr" record with a timestamp, then a whole b

[2021-09-17 12:06] Lingepumpe commented on #122
After some looking into this, these are my observations so far:

- The fact that the initial "timestamp" is early by 57min (when considered as UTC timestamp) seems to be simply because the HR strap was applied well in advance to starting the effort. Checking the GoldenCheetah decodeHR() function in https://github.com/GoldenCheetah/GoldenCheetah/blob/master/src/FileIO/FitRideFile.cpp - they will dr

[2021-09-23 10:10] Lingepumpe commented on #122
After some more analysis, I realized that the `event_timestamp` value coming in records containing `filtered_bpm` tuples is not handled right in fitparse, and seems to be some undocumented extension (?), as it is also not mentioned in the "definition" record:
[code]
As you can see only the `event_timestamp_12` is mentioned here. So, instead of trying to use a undefined/undocumented field, I chose

[2021-10-05 18:47] dlenski commented on #3
I recently submitted a PR to @Tigge's FIT-to-TCX, https://github.com/Tigge/FIT-to-TCX/pull/13, which makes it test that _all_ of the files from this project's [test/files](https://github.com/dtcooper/python-fitparse/tree/master/tests/files) can at least be translated to TCX without failures.

[antfs-dump.63.fit](https://github.com/dtcooper/python-fitparse/blob/master/tests/files/antfs-dump.63.fit)

[2021-10-28 08:25] maethub opened #132 "ValueError: hour must be in 0..23"
Hi all,

First of all, thanks for all the people working on this! I am very happy this project exists 👍

### Error

In the last few days, I ran into an issue when parsing a fit-file from Garmin.

[code]

With a bit of debugging, I traced the error to a record within "user_profile". The field "sleep_time" had a value of 86400, which leads to the following call:

[code]

in this method: (https://git

[2021-11-01 12:11] fundthmcalculus commented on #93
I have written a patch with fault-tolerance for improperly terminated files. Been trying to get this merged back into main for quite some time, LOL.
https://github.com/fundthmcalculus/python-fitparse/tree/unterminated-file-fix

[2021-11-01 13:04] fundthmcalculus commented on #129
@dtcooper see here: https://github.com/dtcooper/python-fitparse/pull/134

[2021-11-01 16:05] fundthmcalculus commented on #56
PR to address this here: https://github.com/dtcooper/python-fitparse/pull/135

[2021-12-20 21:04] lnovali opened #136 "lap details?"
is it possible to extract the details of the laps? what parameters should i use?

[2022-01-10 15:47] fundthmcalculus commented on #136
Which specific details are you trying to find? Lap average information (eg lap average speed)? Or lap-specific information? (eg lap-duration)

[2022-01-10 15:49] fundthmcalculus commented on #132
@maethub the best way would be to open a draft PR from your commit, and link this issue to it. That way people can easily review what changed, and provide feedback.

[2022-01-20 07:00] maethub commented on #132
@fundthmcalculus Yes, thanks.

I hope PR #138 can be of any help.

[2022-02-11 09:50] Themis3000 opened #139 "Documentation out of date; currently says python 3 is unsupported"
https://dtcooper.github.io/python-fitparse/

It appears that this information is out of date as the setup.py file lists python 3 support.

[2022-03-01 09:21] dtcooper commented on #139
Thanks! PRs welcome!

[2022-04-03 07:47] lnovali commented on #136
Hello, I'm sorry for delay.
For each lap, I need all lap specific informations:
lap number
lap starting time
lap duration
lap distance
lap avg speed
lap max speed
lap avg heart rate
lap max heart rate
lap avg power
lap max power
lap ascent
lap cadence
lap starting coordinates (lat;lng)
and so on...

[2022-04-03 19:54] #132 closed

[2022-06-23 01:26] Luo-XiuFeng opened #140 "The heart rate can not be accurately extracted using this library"
I used the following cycles to extract heart rate data:
![image](https://user-images.githubusercontent.com/45417928/175187156-6e3a2cc6-de74-4b74-831b-1d1fbfcb81b8.png)
If I print databuf, I'll get a lot of None, which seriously affects my heart rate curve, because IF I draw it, I'll get the following problem:
![image](https://user-images.githubusercontent.com/45417928/175187554-9884796a-2c67-48e2-

[2022-10-10 12:53] rgmf opened #142 "Reading only the header of the FIT file"
Is a way to read only the header of the file to figure out what kind of FILE ID it is?

As of today I read all the file only for that.

If a feature like this is not already added, could it be added?